pandas
numpy
seaborn
matplotlib
glob2  # 'glob' doesn't require installation, but 'glob2' might be needed
plotly
scipy
scikit-learn
ipywidgets
voila  # To hide the code and keep the notebook interactive
